
//import all elements
@import "./mixin/mixin",
        "./variables/variables",
        "./mixin/media-query",
        "./font/family",
        "./font/size";



* {
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    align-items: center;
}

img, button {
    cursor: pointer;
}

.selected-img {
    opacity: .5;
    border: 2px solid $mainColor
}

header {
    @extend %flex;
    justify-content: space-between;
    padding: $paraSize;
    margin: auto;
    position: relative;
    background-color: $white;
    .nav-logo {
        @extend %flex;
        #logo {
            margin-left: 15px;
        }
    }
    .about {
        @extend %flex;
        #avatar {
            max-width: 30px;
            margin-left: 15px;
        }
    }
}


////////////////// version mobile
@include mobile {
    @include both;
}

////////////////// version tablet
@include tablet {
    @include both;
    .product .all-product img {
        height: 400px;
    }
    // cart box
    #cart-box {
        right: 0;
        margin: 10px {
            right: 30px;
        };
    }
}

////////////////// version desktop

@include desktop {
    @include biger;
}



////////////////// version larger
@include larger {
        .container {
            margin: auto;
            max-width: 80%;
            background-color: $white;
            padding: 20px;
            position: relative;
            header {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas: "logo nav nav nav about";
                #logo {
                    margin-right: 60px;
                }
                .about {
                    order: 3;
                    grid-area: "about";
                    place-content: center;
                }
                .blured {
                    grid-column: span 3;
                    order: 2;
                    grid-area: "nav";
                    ul {
                        list-style: none;
                        display: flex;
                        font-size: $size14;
                        li a {
                            text-decoration: none;
                            color: $darkGrayishBlue;
                            margin-right: 20px;
                        }
                    }
                }
            &::before {
                content: "";
                position: absolute;
                background-color: #eee;
                margin-bottom: -10px;
                height: 1px;
                width: 92%;
                left: 22px;
                bottom: 0;
                
            }
        }
    
        #cart-box {
            display: none;
            position: absolute;
            right: 20px;
            z-index: 10;
            background: $white;
            border: 1px solid #ccc;
            border-radius: 10px;
            width: 340px;
            height: 200px;
            margin: 15px 40px;
            transform: translateX(5%);
            div:first-child {
                margin: 15px;
            };
            div:last-child {
                position: absolute;
                left:  50%;
                top: 50%;
                transform: translate(-50%);
                color: $grayishBlue;
            }
            hr {
                border: 1px solid #eee;
            }
        }
    
        .elements {
            display: flex;
            align-items: center;
            margin: 40px auto;
            width: 90%;
            .product {
                width: 100%;
                .all-product {
                    max-width: 400px;
                    img {
                        border-radius: 10px;
                    }
                    .smaller-img {
                        display: flex;
                        justify-content: space-between;
                        .small-img {
                            flex-basis: 20%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    
        .about-product {
            max-width: fit-content;
            .company-name {
                color: $mainColor;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: $size12;
            }
            .price {
                display: flex;
                flex-direction: column;
                h2:last-child {
                    color: $grayishBlue;
                    font-size: $size18;
                    font-weight: $font500;
                    text-decoration: line-through;
                }
                h2:first-child {
                    position: relative;
                    span {
                        position: absolute;
                        background-color: $secondaryColor;
                        color: $mainColor;
                        font-weight: 400;
                        font-size: $size16;
                        border-radius: 5px;
                        padding: 2px 5px;
                        margin-left: 10px;
                    }
                }
            }
            .company-name,
            .info,
            .price,
            .input-style {
                margin: 15px 0;
            }
            .info {
                p {
                    margin: 10px 0;
                    color: $grayishBlue;
                    line-height: 2;
                    font-size: 15px;
                }
            }
    
            .input-style {
                position: relative;
                input {
                    width: 100px;
                    padding: 10px 0;
                    border: none;
                    background-color: $lightBlue;
                    border-radius: 10px;
                    font-weight: $fontBold;
                    font-size: $size18;
                }
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 10px;
                    &.plus-icon {
                        right: 0;
                    }
                    &.minus-icon {
                        left: 0;
                    }
                }
            }
            .add-items {
                display: flex;
                align-items: center;
                button {
                    background-color: $mainColor;
                    color: $white;
                    width: 200px;
                    padding: 10px 0;
                    margin-left: 20px;
                    border-radius: 5px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $size14;
                    box-shadow: 0 20px 20px $secondaryColor;
                    .cart-icon {
                        width: 20px;
                        margin-right: 15px;
                    }
                }
            }
        }
    
        #nav-bar,
        #close-icon,
        .product .btn,
        #cart-box {
            display: none;
        }
    }
}
