
//import all elements
@import "./mixin/mixin",
        "./variables/variables",
        "./mixin/media-query",
        "./font/family",
        "./font/size";



* {
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%flex {
    display: flex;
    align-items: center;
}

img {
    cursor: pointer;
}

header {
    @extend %flex;
    justify-content: space-between;
    padding: $paraSize;
    margin: auto;
    position: relative;
    background-color: $white;
    .nav-logo {
        @extend %flex;
        #logo {
            margin-left: 15px;
        }
    }
    .about {
        @extend %flex;
        #avatar {
            max-width: 30px;
            margin-left: 15px;
        }
    }
}


////////////////// version mobile
@include mobile {
    @include both;
}

////////////////// version tablet
@include tablet {
    @include both;
    .product .all-product img {
        height: 400px;
    }
    // cart box
    #cart-box {
        right: 0;
        margin: 10px {
            right: 30px;
        };
    }
}

////////////////// version desktop
@include desktop {

}

////////////////// version larger
@include larger {
    
}

